.album._ .art{background:#444 url(https://s-media-cache-ak0.pinimg.com/564x/5b/27/01/5b270123bd7f65a53d4f889baa8609d7.jpg) center center;background-size:cover;}
.album.ego-perdido .art{background:#444 url(../images/albums/art/ego-perdido.jpg) center center;background-size:cover;}
.album.mare-cheia .art{background:#444 url(../images/albums/art/mare-cheia.jpg) center center;background-size:cover;}
.album.unanime .art{background:#444 url(../images/albums/art/unanime.jpg) center center;background-size:cover;}
.album.quebrando-o-silencio .art{background:#444 url(../images/albums/art/quebrando-o-silencio.jpg) center center;background-size:cover;}
.album.sangue-suor-vitoria .art{background:#444 url(../images/albums/art/sangue-suor-vitoria.jpg) center center;background-size:cover;}
.album.alvo-incomum .art{background:#444 url(../images/albums/art/alvo-incomum.jpg) center center;background-size:cover;}
.album.pela-rua-pelo-reino .art{background:#444 url(../images/albums/art/pela-rua-pelo-reino.jpg) center center;background-size:cover;}
.album.se-liga-na-visao .art{background:#444 url(../images/albums/art/se-liga-na-visao.jpg) center center;background-size:cover;}
.album.sete-core .art{background:#444 url(../images/albums/art/7core.jpg) center center;background-size:cover;}
.album.principio-das-dores .art{background:#444 url(../images/albums/art/principio-das-dores.jpg) center center;background-size:cover;}
.album.periferia-grita .art{background:#444 url(../images/albums/art/periferia-grita.jpg) center center;background-size:cover;}
.album.cristo-suburbano .art{background:#444 url(../images/albums/art/cristo-suburbano.jpg) center center;background-size:cover;}
.album.Darak-Choice .art{background:#444 url(../images/albums/art/Darak-Choice.jpg) center center;background-size:cover;}
.album.estado-de-guerra .art{background:#444 url(../images/albums/art/estado-de-guerra.jpg) center center;background-size:cover;}
.album.nossa-furia-2012 .art{background:#444 url(../images/albums/art/nossa-furia-2012.jpg) center center;background-size:cover;}
.album.rodox-rodox .art{background:#444 url(../images/albums/art/rodox-rodox.jpg) center center;background-size:cover;}
.album.rodox-estreito .art{background:#444 url(../images/albums/art/rodox-estreito.jpg) center center;background-size:cover;}
.album.santa-cruz-hc .art{background:#444 url(../images/albums/art/santa-cruz-hc.jpg) center center;background-size:cover;}
.album.teus-mares-imperial .art{background:#444 url(../images/albums/art/teus-mares-imperial.jpg) center center;background-size:cover;}
.album.wews .art{background:#444 url(../images/albums/art/WEWS.jpg) center center;background-size:cover;}
.album.vox-conquista .art{background:#444 url(../images/albums/art/vox-conquista.jpg) center center;background-size:cover;}
.album.crenca-furia-ssu .art{background:#444 url(../images/albums/art/crenca-furia-ssu.jpg) center center;background-size:cover;}
.album.cristo-suburbano .art{background:#444 url(../images/albums/art/cristo-suburbano.jpg) center center;background-size:cover;}
.album.ender7-tempo .art{background:#444 url(../images/albums/art/ender7-tempo.jpg) center center;background-size:cover;}
.album.wisdom-of-madmen .art{background:#444 url(../images/albums/art/wisdom-of-madmen.jpg) center center;background-size:cover;}
.album.venore-reconstruir .art{background:#444 url(../images/albums/art/venore-reconstruir.jpg) center center;background-size:cover;}
.album.renderse-perdoa .art{background:#444 url(../images/albums/art/renderse_perdoa.jpg) center center;background-size:cover;}
.album.mssarios-primeiros .art{background:#444 url(../images/albums/art/mssarios-primeiros.jpg) center center;background-size:cover;}
.album.theodor-_-sangue-e-honra .art{background:#444 url(../images/albums/art/theodor-_-sangue-e-honra.jpg) center center;background-size:cover;}
.album.sola_vol .art{background:#444 url(../images/albums/art/sola_vol.jpg) center center;background-size:cover;}
.album.unlife_2016 .art{background:#444 url(../images/albums/art/unlife_2016.jpg) center center;background-size:cover;}
.album.cefa_2016 .art{background:#444 url(../images/albums/art/cefa_2016.jpg) center center;background-size:cover;}
.album.alva_incendiar .art{background:#444 url(../images/albums/art/alva_incendiar.jpg) center center;background-size:cover;}
.album.valover_flagelo .art{background:#444 url(../images/albums/art/valover_flagelo.jpg) center center;background-size:cover;}
.album.afronta .art{background:#444 url(../images/albums/art/afronta.jpg) center center;background-size:cover;}
.album.fixar-querotever .art{background:#444 url(../images/albums/art/fixar_-_quero_te_ver.jpg) center center;background-size:cover;}
.album.before .art{background:#444 url(../images/albums/art/before.jpg) center center;background-size:cover;}
.album.eletromilk .art{background:#444 url(../images/albums/art/eletromilk.jpg) center center;background-size:cover;}
.album.yunick .art{background:#444 url(../images/albums/art/yunick.jpg) center center;background-size:cover;}
.album.thome .art{background:#444 url(../images/albums/art/thome.jpg) center center;background-size:cover;}
.album.recliva .art{background:#444 url(../images/albums/art/recliva.jpg) center center;background-size:cover;}
.album.gab .art{background:#444 url(../images/albums/art/gab.jpg) center center;background-size:cover;}
.album.crente-crew .art{background:#444 url(../images/albums/art/crente-crew.jpg) center center;background-size:cover;}
.album.sheeps .art{background:#444 url(../images/albums/art/sheeps.jpg) center center;background-size:cover;}
.album.choice .art{background:#444 url(../images/albums/art/choice.jpg) center center;background-size:cover;}
.album.wp7 .art{background:#444 url(../images/albums/art/wp7.jpg) center center;background-size:cover;}
.album.trini .art{background:#444 url(../images/albums/art/trini.jpg) center center;background-size:cover;}



